/* FONT DECLARATIONS */

@font-face {
    font-family: "Computer Modern Concrete";
    src: url("../fonts/cmunorm.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Computer Modern Sans";
    src: url("../fonts/cmunss.ttf");
    font-weight: normal;
    font-weight: normal;
}

/* GLOBALS */

:root {
    --navbar-bg: #303030;
}

html {
    font-size: 20px;
    font-family: "Computer Modern Sans";
}

h1 {
    font-family: "Ubuntu Mono", monospace;
    margin: 0 5%;
}

#splash {
    text-align: center;
    font-size: 60px;
    font-family: "Ubuntu Mono", monospace;
    margin: 0 auto;
}

#logo {
    display: block;
    margin: 0 auto;
    width: 300px;
    padding-top: 1%;
}

article {
    margin: 0 10%;
}

@keyframes color-rotate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

#button {
    background-color: white;
}

#button:hover {
    animation: color-rotate 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* CONTACT ICONS */

.contact {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact a img {
    height: 80px;
    padding: 0 10px;
}

/* NAVBAR */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--navbar-bg);
}

.menu {
    float: left;
    font-family: "Computer Modern Concrete";
    color: white;
    font-size: 35px;
    padding: 5px;
}

.menu a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: inherit;
    transition: color 200ms;
    background-color: var(--navbar-bg);
    transition: background-color 200ms;
}

.menu a:hover {
    background-color: white;
    color: black;
}

#active {
    background-color: #f2bc51;
    color: black;
}
