/* FONT DECLARATIONS */

@font-face {
    font-family: "Computer Modern Concrete";
    src: url("../fonts/cmunorm.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Computer Modern Concrete";
    src: url("../fonts/cmunobx.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Computer Modern Sans";
    src: url("../fonts/cmunss.ttf");
    font-weight: normal;
    font-weight: normal;
}

html {
    font-size: 20px;
    font-family: "Computer Modern Sans";
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family: "Ubunto Mono", monospace;
    margin: 0 auto;
}

#logo {
    display: block;
    margin: 0 auto;
    width: 300px;
    padding-top: 1%;
}

article {
    margin: 20px;
}

/* CONTACT ICONS */

.contact {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact a img {
    height: 80px;
    padding: 0 10px;
}

/* NAVBAR */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.menu {
    float: left;
    font-family: "Computer Modern Concrete";
    color: white;
    font-size: 35px;
    padding: 5px;
}

.menu a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: inherit;
    transition: color 200ms;
    background-color: black;
    transition: background-color 200ms;
}

.menu a:hover {
    background-color: white;
    color: black;
}

#active {
    background-color: #f2bc51;
    color: black;
}
